ion-content{
    --background: url(../../assets/img/shapes.svg) no-repeat center center fixed, #fff;
    position: relative;
    height: 100%;
    width: 100%;
}

ion-toolbar {
    --background: transparent;
}

.card{
    margin: 0 auto;
    border-radius: 10px;

    .header{
        height: 200px;

        .avatar{
            width: 160px;
            height: 160px;
            position: relative;
            margin: 0 auto;

            img{
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px));
                border: 8px solid #30d270;
                background-color: #fff;
            }
        }
    }
}

.card-body{
    background-color: #ffffff;
    padding: 30px;
    height: calc(100vh - (200px + 56px));
    overflow: hidden;

    border-radius: 10%;

    .user-meta{
        padding-top: 40px;

        .username{
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }

        .nickname{
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
            padding-bottom: 20px;
        }
    }
}

.bt-sociais{
    padding-right: 10px;
}