<ion-content fullscreen="true" slot="fixed" >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button>
        Sair
        <ion-icon slot="start" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-buttons slot="secondary">
      <ion-button>
        Editar
        <ion-icon slot="end" name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

    <div class="card">
        <div class="header">
            <div class="avatar">
                <img src="../../assets/img/user.svg" alt="">
            </div>
        </div>

        <div class="card-body">

            <div class="user-meta ion-text-center">
                <h3 class="usernsme">Gabriel Viero</h3>
                <h5 class="nickname">@user logado</h5>
            </div>

            <ion-button fill="outline" expand="block">
                Procurar Amigos
                <ion-icon slot="start" name="search-outline"></ion-icon>
            </ion-button>

            <ion-toolbar>
             <ion-buttons slot="secondary">
                   <ion-button class="bt-sociais">
                     <ion-icon name="logo-whatsapp"></ion-icon>
                 </ion-button>
                
                   <ion-button class="bt-sociais">
                     <ion-icon name="logo-facebook"></ion-icon>
                 </ion-button>

                   <ion-button class="bt-sociais">
                     <ion-icon name="logo-instagram"></ion-icon>
                 </ion-button>
              </ion-buttons>
            </ion-toolbar>

            <ion-chip color="tertiary">
              <ion-label color="dark">Fotos/Videos</ion-label>
              <ion-icon name="camera"></ion-icon>

            </ion-chip>
            <ion-chip color="primary">
              <ion-label color="dark">New Post</ion-label>
              <ion-icon name="add-circle"></ion-icon>
            </ion-chip>
        </div>
        <div>
          <ion-card color="primary">
            <ion-item color="dark">
              <ion-icon slot="start" size="large" name="bookmark" color="light"></ion-icon>
              <ion-avatar slot="start">
                  <img src="assets/img/user.svg">
              </ion-avatar>
              <ion-label class="ion-text-wrap">
                  <ion-text color="dark"><h3>Gabriel Viero</h3> </ion-text>
                  <p>Meu primeiro treino!</p>
              </ion-label>
        
              <ion-button color="tertiary" fill="clear">
                <ion-icon size="large" name="eye-outline" color="tertiary"></ion-icon>
              </ion-button>
            </ion-item>
        
            <ion-card-content>
              Foi difícil, mas passo bem. Vejam ai o resultado!!!
            </ion-card-content>
        
            <ion-card-content style="background-color: gainsboro;">
               <ion-button color="tertiary" size="small" fill="outline" slot="end">Pump
                <ion-icon size="small" name="thumbs-up-sharp" color="tertiary"></ion-icon>
               </ion-button>
               <ion-button color="danger" size="small" fill="outline">Weak
                <ion-icon color="danger" name="thumbs-down-sharp"></ion-icon>
               </ion-button>
               <ion-button color="dark" size="small" fill="outline" slot="end">Save 
                <ion-icon color="dark" name="archive-sharp"></ion-icon>
               </ion-button>
            </ion-card-content>
          </ion-card>
          <ion-item color="light">
              <ion-label posiotion="floating">Numero de Jogadores</ion-label>
              <ion-input type='number' (ionInput)="updateTotalPlayers($event.target.value)" value="{{QtdJogadores}}"></ion-input>
          </ion-item>
          <app-contador  *ngFor= "let p of players | async" Score={{p.Score}} Name={{p.Name}}></app-contador>

       
        </div>
        <div >
        <div ></div>

        
       