<ion-tabs>

  <ion-tab-bar slot="botton">
    
    <ion-tab-button tab="tabPerfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabTreino">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Treino</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabMetas">
      <ion-icon name="paper-plane-outline"></ion-icon>
      <ion-label>Metas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabTarefas">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Tarefas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
