.tab-bar-sub{
    height: 30px;
    position: relative;
    background-color: #f4f5f8 !important;
    text-align: center !important;
}
.subtitle{
    position: relative;
    top: -11px !important;
    font-size: 12px;
}
ion-icon{
    font-size: 12px;
}