ion-card {
    width: 43%;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.contadores {
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
}

.btn_mais{
    padding-left: 30%;
}
.btn_menos{
    padding-right: 30%;
}
